{% extends "base.html" %}


{% block title %}
<!-- 标题-->
{% endblock %}

{% block content %}
    {% load static %}
<script type="text/javascript" src={% static "js/jquery-3.2.1.min.js"%}></script>
    <script>
        $( function() {
            $("#id_unitcost").on('input',function(e){
                $('#id_total').val($("#id_unitcost").val()*$("#id_qty").val());
            });
            $("#id_qty").on('input',function(e){
                $('#id_total').val($("#id_unitcost").val()*$("#id_qty").val());
            });
        })
    </script>


<h1>
     合同 - {{ contract }} : 添加产品
</h1>

    <form action="{%  url 'add_contractsku' id=contract.id %}" method = 'POST'>
        <table>
            {% csrf_token %}
            {{ form.as_table }}
        </table>
     <input type="submit" value="Submit" />
    </form>
{% endblock %}