{% extends "base.html" %}
{% block title %}
<!-- 标题-->
{% endblock %}

{% block content %}

<h1>
    合同列表
</h1>

    <table class="table table-striped">
        <tr>
            <th> 客户</th>
            <th> 创立日期</th>
            <th> 合同号</th>
            <th> 销售员</th>
            <th> 发货日期</th>
            <th> 包含SKU数</th>
        </tr>
        {% for c in contract_list %}
            <tr>
                <td> {{ c.client }}</td>
                <td> {{ c.created_date }}</td>
                <td> <a href="{% url 'view_contract' id=c.id %}"> {{  c.orderNumber }}  </a></td>
                <td> {{  c.sales }}</td>
                <td> {{ c.deliveryDate }}</td>

                <td> {{ c.contractsku_set.count }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}